<h2>New Post</h2>
<hr>

<%= form_for @post, html: { multipart: true } do |f| %>
	
	<div style="float:left">
		<%= f.label :image %>
		<%= f.file_field :image %>
		<br>
	</div>
	
	<div>
		<%= f.label :description %>
		<br>
		<%= f.text_area :description %>
	</div>
		
	<br><br>

	<%= f.submit %>

<% end %>
